* {
  box-sizing:border-box; 
}


body {
  display: flex;
  flex-direction: column;
}

body >header, body >footer {
  background: #444;
  height: 75px;
  color: #eee;
  line-height: 75px;
}

/* header {
  order:2;
}

main {
  order:1;
}

footer {
  order:3;
} */

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.card header {
  order:1;
}

.card p {
  order:3;
}

.card img {
  order:2;
}

.card .links {
  order:4;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
}

.primary {
  order:2;
  padding: 10px 5px;
  background: blue;
  color: #eee;
}

.secondary {
  order:1
}

.deck {
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}