<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>To-Do List</title>
  </head>


  <body>

    <header>
      <h1>My To-Do List</h1>
     <%- include('layout/navbar') %>
    </header>

    <main>
      <section>
        <% console.log(tasks)%>
        <ul>
          <% tasks.forEach(task=>{ %>
              <li>
                <h4>Task: <%= task.title %></h4>
                <p>Status: <%= task.status %></p>
                <a href="/tasks/<%= task.id%>">view details</a>
              </li>
          <% }) %>
        </ul>
      </section>
    </main>

  </body>
</html>
