<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Welocme to My Home Page</h1>
    <a href="/">Home Page</a>
    <a href="/list">List of my Family</a>
    <a href="/listOfBooks">List of Books</a>
</body>
</html>