nav,
article,
aside,
footer section {
  margin: 0 auto;
  width: 900px;
}

footer section p {
  padding: 50px 0;
  line-height: 1.5em;
  text-align: center;
  color: #aaa;
}
.recipe li {
  width: 40%;
  font-size: 1.3em;
  line-height: 31px;
}
main p {
  color: #333;
  font-size: 1.2em;
  line-height: 1.3em;
  text-indent: 30px;
}

aside h3 {
  font-size: 1.6em;
  padding-bottom: 10px;
  color: #555;
}

aside p {
  width: 65%;

  text-indent: 0;
}

aside button{
    background: #b8705a;
    color: #fff;
    font-size: 1.2em;
    border: none;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;

    }

    section hr {
        border-bottom: 1px solid #eee;
        height: 0;
      }

